<!-- grades/templates/grades/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    <h1>Welcome to the Index Page</h1>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Student Grades</title>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Enter Student Grades</h1>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
<!--</body>-->
<!--</html>-->
